@model Nsted.Models.ViewModels.UserViewModel;


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1> Brukere - Admin tilgang </h1>
    </div>
</div>

<div>
    <div class="container py-5">
        <div class="mb-3 d-felx justify-content-end">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
                Opprett bruker
            </button>
        </div>


        @if (Model.Users != null || Model.Users.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @* ittererer over user listen inni userViewModel *@
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>
                                <form method="post"
                                      asp-controller="AdminUsers"
                                      asp-action="Delete"
                                      asp-route-id="@user.Id">
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-danger" type="submit" onclick="confirmDelete">Slett</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Ingen bruker funnet </p>
        }
    </div>
</div>

<!-- Modal -->
<form method="post">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="modalCreateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Opprett ny bruker</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Brukernavn</label>
                        <input type="text" class="form-control" asp-for="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email adresse </label>
                        <input type="text" class="form-control" asp-for="Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Passord</label>
                        <input type="password" class="form-control" asp-for="Password" />
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" id="chkUserRole" class="form-check-input" value="User" checked disabled />
                            <label class="form-check-label" for="chkUserRole"> Brukerrolle</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" id="chkAdminRole" class="form-check-input"
                                   asp-for="AdminRoleCheckbox" />
                            <label class="form-check-label" for="chkAdminRole"> Admin rolle </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
                    <button type="submit" class="btn btn-primary">Lagre bruker</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>function confirmDelete() {
        var confirmResult = confirm("Ønsker du å slette denne brukeren?");

        if (confirmResult) {
            alert("Brukeren er slettet!"); // Dette er bare en ekstra varsling for eksempel
        } else {
            // Brukeren klikket "Avbryt", ingen handling er nødvendig
            return view(List);
        }
    }</script>
