@model IEnumerable<Nsted.Models.Service>

<h2>Opprettende servicer</h2>


<form asp-controller="Service" asp-action="Search" method="get">
    <div class="form-group">
        <label for="searchString">Søk etter service</label>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<a asp-action="List">Tilbake til alle servicer</a>

<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ordrenummer</th>
            <th>Produkt Type</th>
            <th>Service/Rep</th>
            <th>Årsmodell</th>
            <th>Serienummer</th>
            <th>Notat</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ID</td>
                <td>@service.Produkttype</td>
                <td>@service.ServiceRep</td>
                <td>@service.Årsmodell</td>
                <td>@service.Serienummer</td>
                <td>@service.Notat</td>
            </tr>
        }
    </tbody>
</table>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="sjekkliste">Link til sjekkliste</a>
