@model IEnumerable<Nsted.Models.Service>
<!--View for serviceoversikt som lister ut alle servicer i en oversikltig tabell-->
<h2>Opprettede servicer</h2>

<!--Søkefelt for å søke etter service basert på serienummer-->

<form asp-controller="Service" asp-action="Search" method="get">
    <div class="form-group">
        <label for="searchString">Søk etter serienummer</label>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Søk" class="btn btn-dark" />
    </div>
</form>

<br />
<!--Filterering for status-->
<form asp-controller="Service" asp-action="SearchStatus" method="get" style="float: right">
    <div class="form-group">
        <label for="searchString">Filtrer etter status</label>
        <input type="submit" name="searchString" value="Opprettet" class="btn btn-dark" />
        <input type="submit" name="searchString" value="Påbegynt" class="btn btn-dark" />
        <input type="submit" name="searchString" value="Ferdig" class="btn btn-dark" />
    </div>
</form>

<a asp-action="List" class="btn btn-dark" style="float: left">Tilbake til alle servicer</a>

<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ordrenummer</th>
            <th>Produkt Type</th>
            <th>Service/Rep</th>
            <th>Årsmodell</th>
            <th>Serienummer</th>
            <th>Notat</th>
            <th>Status</th>
            <th>Rediger</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.ID</td>
                <td>@service.Produkttype</td>
                <td>@service.ServiceRep</td>
                <td>@service.Årsmodell</td>
                <td>@service.Serienummer</td>
                <td>@service.Notat</td>
                <td>@service.Status</td>
                <td>
                    <!--Knapp som gjør det mulig å redigere service basert på ID-->
                    <a asp-action="Edit" asp-route-id="@service.ID" class="btn btn-dark">Rediger</a>
                </td>
            </tr>
        }
    </tbody>
</table>

