

@model IEnumerable<Nsted.Models.OpprettService>

<h2>Opprettende servicer</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ordrenummer</th>
            <th>Produkt Type</th>
            <th>Service/Rep</th>
            <th>Årsmodell</th>
            <th>Serienummer</th>
            <th>Notat</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var OpprettService in Model)
        {
            <tr>
                <td>@OpprettService.ID</td>
                <td>@OpprettService.Produkttype</td>
                <td>@OpprettService.ServiceRep</td>
                <td>@OpprettService.Årsmodell</td>
                <td>@OpprettService.Serienummer</td>
                <td>@OpprettService.Notat</td>
            </tr>
        }
    </tbody>
</table>