@model IEnumerable<Nsted.Models.Kunde>

<h2>Kundeoversikt</h2>

<div style="margin-bottom: 20px;">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Kunde" asp-action="Add">Opprett Kunde</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Adresse</th>
            <th>Telefon nummer</th>
            <th>E-post</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kunde in Model)
        {
            <tr>
                <td>@kunde.ID</td>
                <td>@kunde.Fornavn</td>
                <td>@kunde.Etternavn</td>
                <td>@kunde.Adresse</td>
                <td>@kunde.Telefon</td>
                <td>@kunde.Epost</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@kunde.ID" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>