@model IEnumerable<Nsted.Models.Kunde>

<h2>Kundeoversikt</h2>

<div style="margin-bottom: 20px;">
    <a class="btn btn-dark" role="button" asp-area="" asp-controller="Kunde" asp-action="Add">Opprett Kunde</a>
</div>

<form asp-controller="Kunde" asp-action="Search" method="get">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="searchString">Søk etter telefonnummer</label>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-dark" />
    </div>
</form>

<a asp-action="List" class="btn btn-dark" style="float: left">Tilbake til alle kunder</a>

<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Adresse</th>
            <th>Telefon nummer</th>
            <th>E-post</th>
            <th>Rediger</th>
            <th>Opprett service</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kunde in Model)
        {
            <tr>
                <td>@kunde.ID</td>
                <td>@kunde.Fornavn</td>
                <td>@kunde.Etternavn</td>
                <td>@kunde.Adresse</td>
                <td>@kunde.Telefon</td>
                <td>@kunde.Epost</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@kunde.ID" class="btn btn-dark">Rediger</a>
                </td>
                <td>
                    <div style="margin-bottom: 20px;">
                        @Html.AntiForgeryToken()
                        <a class="btn btn-dark" role="button" asp-area="" asp-controller="Service" asp-action="Add">Opprett service</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>