
@{
    ViewData["Title"] = "Kundeoversikt";
}



<div class="text-center">
    <h1 class="display-4">Kundeoversikt</h1>
    <p>Her er det en oversikt over eksisterende kunder og opprettelse av nye kunder </p>
</div>

<!-- Form for å opprette nye kunder -->

@* @model Nsted.Models.KundeoversiktFormModel   *@

<h1>Opprett ny kunde: </h1>
<form action="form1" method="post">
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td> Kundens navn </td>
            <td> <input type="text" name="KundeNavn" \> </td>
        </tr>
        <tr>
            <td> Kundens epost </td>
            <td> <input type="text" name="KundeEpost" \> </td>
        </tr>
        <tr>
            <td> Kundens telefonnummer </td>
            <td> <input type="text" name="KundeTlf" \> </td>
        </tr>
        <tr>
            <td> Kundens adresse </td>
            <td> <input type="text" name="KundeAdr" \> </td>
        </tr>
        <tr>
            <td> KundeNummer (tildeles automoatisk) </td>
            <td> <input type="text" name="KNr" \> </td>
        </tr>
        <tr>
            <td> <input type="submit" value="Opprett Kunden" \> </td>
        </tr>

    </table>

</form>

<!--
Viser liste over eksisterende kunder
-->


@{
    // var db = Database.Open("Noested?");
    // var query = "SELECT * FROM Kunder?";
}
<html>
<body>
    <h1>Eksisterende Kunder</h1>
    <table border="1" width="100%">
        <tr>
            <th>KundeNr</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefonnummer</th>
            <th>Adresse</th>
        </tr>

        @*
        @foreach (var row in db.Query(query))

                 {

                <tr>
                    <td>@row.KundeNr</td>
                    <td>@row.Navn</td>
                    <td>@row.Email</td>
                    <td>@row.Telefonnummer</td>
                    <td>@row.Adresse</td>
                 </tr>

                 }*@

    </table>
</body>
</html>